{% set overlay_data.evpn_route_servers = {} %}
{# #}
{# Expand data for evpn_route_servers #}
{% for route_server in switch.evpn_route_servers | arista.avd.natural_sort %}
{%     set fabric_switch_facts_filename = switch_facts_dir ~ '/' ~ route_server ~ '.json' %}
{%     set fabric_switch_facts_file_data = lookup('ansible.builtin.file', fabric_switch_facts_filename) | from_json %}
{%     set fabric_switch_switch_facts = fabric_switch_facts_file_data.switch | arista.avd.default %}
{%     if fabric_switch_switch_facts is arista.avd.defined(fail_action='warning',var_name='Switch Facts for ' ~ route_server) %}
{%         if fabric_switch_switch_facts.evpn_role is arista.avd.defined('server') %}
{# Found a matching server. Gathering information for this server #}
{%             set server = namespace() %}
{%             set server.bgp_as = fabric_switch_switch_facts.bgp_as %}
{%             set server.ip_address = fabric_switch_switch_facts.router_id %}
{%             do overlay_data.evpn_route_servers.update({ route_server: server }) %}
{%         endif %}
{%     endif %}
{% endfor %}
