{# Add underlay links defined on this device #}
{% set underlay_data.links = topology.links | arista.avd.default({}) %}

{# Add underlay links defined on other devices pointing to this device #}

{# List of fact files created by peers pointing to this device #}
{% set topology_peers_file_glob = topology_peers_facts_dir ~ '/' ~ inventory_hostname ~ '_*.json' %}
{% set topology_peers_facts_files = query('ansible.builtin.fileglob', topology_peers_file_glob) %}

{# Run through list and load the topology facts and switch facts for that device #}
{% for topology_peers_facts_file in topology_peers_facts_files %}
{%     set topology_peers_facts_file_data = lookup('ansible.builtin.file', topology_peers_facts_file) | from_json %}
{%     set fabric_switch_topology_facts = topology_peers_facts_file_data.topology | arista.avd.default %}
{%     set topology_peer_filename = topology_peers_facts_file | basename %}
{%     set filename_prefix_length = (inventory_hostname ~ '_') | length %}
{#     Remove the "hostname_" from the filename so we only have "peerhostname.json" left #}
{%     set fabric_switch_facts_filename = switch_facts_dir ~ '/' ~ topology_peer_filename[filename_prefix_length:] %}
{%     set fabric_switch_facts_file_data = lookup('ansible.builtin.file', fabric_switch_facts_filename) | from_json %}
{%     set fabric_switch_switch_facts = fabric_switch_facts_file_data.switch | arista.avd.default %}

{# Parse data if both facts are loaded correctly #}
{%     if fabric_switch_topology_facts is arista.avd.defined and fabric_switch_switch_facts is arista.avd.defined %}
{%         for fabric_switch_interface in fabric_switch_topology_facts.links | arista.avd.natural_sort %}
{%             set fabric_switch_link = fabric_switch_topology_facts.links[fabric_switch_interface] %}
{%             if fabric_switch_link.peer is arista.avd.defined(inventory_hostname) %}
{%                 set link = namespace() %}
{%                 set link.peer = fabric_switch_switch_facts.inventory_hostname %}
{%                 set link.peer_interface = fabric_switch_interface %}
{%                 set link.peer_type = fabric_switch_switch_facts.type %}
{%                 set link.peer_bgp_as = fabric_switch_switch_facts.bgp_as | arista.avd.default() %}
{%                 set link.type = fabric_switch_link.type | arista.avd.default() %}
{%                 set link.speed = fabric_switch_link.speed | arista.avd.default() %}
{%                 set link.ip_address = fabric_switch_link.peer_ip_address | arista.avd.default() %}
{%                 set link.peer_ip_address = fabric_switch_link.ip_address | arista.avd.default() %}
{%                 set link.channel_group_id = fabric_switch_link.peer_channel_group_id | arista.avd.default() %}
{%                 set link.peer_channel_group_id = fabric_switch_link.channel_group_id | arista.avd.default() %}
{%                 set link.channel_description = fabric_switch_link.peer_channel_description | arista.avd.default() %}
{%                 set link.vlans = fabric_switch_link.vlans | arista.avd.default() %}
{%                 set link.bfd = fabric_switch_link.bfd | arista.avd.default() %}
{%                 set link.ptp = fabric_switch_link.ptp | arista.avd.default() %}
{%                 set link.short_esi = fabric_switch_link.peer_short_esi | arista.avd.default() %}
{%                 set link.ipv6_enable = fabric_switch_link.ipv6_enable | arista.avd.default() %}
{%                 set interface = fabric_switch_link.peer_interface %}
{%                 do underlay_data.links.update({interface: link}) %}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endfor %}
